# data
data/raw/*
data/processed/*

# models (optional: keep models if small; otherwise ignore)
# models/*

# notebooks
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db
